################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DoQCI/Storage/Temp/5714b9a2-ea70-46ce-86fc-d872bbdb79b2.pdf
