<header class="bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-800 sticky top-0 z-50">

    <div class="relative flex h-20 items-center px-8">

        <!-- Logo -->
        <a href="">

            <div class="flex items-center gap-3">
                <img src="UdeG.png" class="w-10">
                <span class="text-3xl font-bold text-gray-900 dark:text-white">
                    DoQCI
                </span>
            </div>
        </a>

        <!-- Navigation centered -->
        <nav class="hidden md:flex items-center gap-6 font-semibold text-lg absolute left-1/2 -translate-x-1/2">

            @for (tool of tools; track tool.id) {

            <a [routerLink]="tool.id" routerLinkActive="bg-blue-600 text-white"
                class="px-4 py-2 rounded-lg transition text-gray-700 hover:text-blue-600 hover:bg-gray-300 dark:text-gray-300">

                {{ tool.label }}

            </a>

            }

        </nav>

    </div>

</header>