<div class="w-full mt-10 p-8 rounded-2xl bg-white/70 backdrop-blur-md shadow-lg border border-white/40">
    <div class="flex justify-center mb-6">

  <label class="flex items-center gap-2 text-sm font-medium cursor-pointer">

    <input
      type="checkbox"
      class="w-4 h-4 accent-blue-600"
      [checked]="pages.every(p => p.isEnabled)"
      (change)="changeWholeSelection($event.target.checked)"
    />

    Seleccionar todo

  </label>

</div>

  <div
    cdkDropList
    [cdkDropListData]="pages"
    cdkDropListOrientation="mixed"
    (cdkDropListDropped)="drop($event)"
    class="flex flex-wrap justify-center gap-6"
  >

    @for (page of pages; track page.id) {

      <div
        cdkDrag
        (click)="togglePage(page)"
        class="bg-white rounded-lg shadow p-2 flex flex-col items-center w-32 cursor-grab active:cursor-grabbing border-2 relative"
        [ngClass]="[
          getFileColor(page.fileIndex),
          !page.isEnabled ? 'opacity-40 grayscale' : ''
        ]"
      >

        <span
          class="absolute -top-2 -left-2 text-xs text-white px-2 py-1 rounded-full shadow"
          [ngClass]="getBadgeColor(page.fileIndex)"
        >
          PDF {{ page.fileIndex + 1 }}
        </span>

        <img
          [src]="page.thumbnail"
          class="w-full object-contain rounded pointer-events-none"
        />

        <p class="text-sm mt-2 text-gray-600">
          Página {{ page.pageNumber }}
        </p>

      </div>

    }

  </div>

</div>